<!DOCTYPE html>
<html>
  <head>
    <title>JusticeHQ</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container home-page">
      <a href="./posts"><h1 class="brand-logo center homeHeader" style="font-size: 7em"><%= title %></h1></a>
      <p class="brand-logo center white-text" style="font-size: 2em;">Restoring Humanity</p>
    </div>
  </body>
</html>