<!DOCTYPE html>
<html lang="en">
<head>
    <title>JusticeHQ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
<body class="#757575 grey darken-1">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper #424242 grey darken-3">
        <a href="/" class="padding-left brand-logo left">JusticeHQ</a>
        <ul class="brand-logo center">
          <li><a href="/posts">All Posts</a></li>
          <li><a href="/events">Events</a></li>
        </ul>
        <ul class="right">
          <li>
            <% if (user) { %>
            <a href="/logout"><i class="material-icons left" trending_flat></i>Log Out</a>
            <% } else { %>
            <a href="/auth/google"><i class="material-icons left" vpn_key></i>Login with Google</a>
            <% } %>
          </li>
          <li class="padding-right"><%= user ? `Logged in as: ${user.name}` : "Not Logged In" %></li>
        </ul>
      </div>
  </div>
  </nav>
  </div>