a {
 color: white;
}

/* Home Page CSS */
body {
  background-color: black;
}

.homeHeader:hover {
  transition: 0.2s;
  transform: scale(1.2);
}

.home-page {
  background-image: url('../images/jhq1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
	width: 80em;
	height: 40em;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
  padding-top: 10em;
}
/* End of Home */

.padding-right {
  padding-right: 1em;
}

.padding-left {
  padding-left: 0.5em!important;
}
