<%- include('../partials/header') %>
<div class="row">
  <div id="users" class="col s12">
    <div class="card black">
      <h1 class="center white-text" style="padding-top: 1em; font-size: 3.5em">Events</h1>
      <div class="card-content black-text">
        <ul class="collection">
          <div>
            <h1 class="center white-text">The Last Mile</h1>
            <li class="collection-item  text-darken-2"><img class="responsive-img" src="../images/jhq4.png" alt="Prison Reform img 1"></li>
          </div>
          <div>
            <h1 class="center white-text">Underground Grit</h1>
            <li class="collection-item  text-darken-2"><img class="responsive-img" src="../images/jhq2.jpeg" alt="Prison Reform img 2"></li>
          </div>
          <div>
            <h1 class="center white-text">Kids Creating Awareness Together</h1>
            <li class="collection-item  text-darken-2"><img class="responsive-img" src="../images/jhq3.jpeg" alt="Prison Reform img 3"></li>
          </div>
          <div>
            <h1 class="center white-text">Restoring Our Original True Selves</h1>
            <li class="collection-item  text-darken-2"><img class="responsive-img" src="../images/jhq1.jpeg" alt="Prison Reform img 4"></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<%- include('../partials/footer') %>